body
{
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.Reservia_logo
{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 15px;
    width: 100%;
    background-color: white;
    border: 10px white solid;
    border-radius: 10px 10px 10px 10px;
    padding-top: 20px;
}

header
{
    display: inline-block;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding-top: 5px;
}

header ul
{
    display: flex;
    flex-wrap: wrap;
    list-style: none ; 
    vertical-align: top;
    margin-top: 5px;
    padding-top: 8px;
    margin-bottom: 10px;
    position: fixed;
    top:0;
    right: 0;
    background-color:white;
    border: 10px white solid;
    border-radius: 10px 10px 10px 10px;
}

header li
{
    display: flex;
    margin-right: 15px;
    font-size: small;
    padding-top: 20px;
}

header li:hover
{
   color: #0065FC; 
   border-top: 2px #0065FC solid;
}



a
{
    color: black;
    text-decoration: none;
}

a:visited
{
    color: black;
    text-decoration: none;
}

a:active
{
    color: black;
    text-decoration: none;
}

.inscription a
{
    color: #0065FC;
}


h2
{
    font-size: large;
    font-weight: bolder;
    margin-bottom: auto;
    padding-bottom: 2px;
}


nav p
{
    font-size: smaller;
    padding-top: 2px;
    height: 15px;
}

.fa-map-marker-alt
{
    background: #F2F2F2;
    font-size: small;
    border: 10px #F2F2F2 solid;
    border-radius: 10px 0px 0px 10px;
    width:1.5%;
}

.rechercher
{
   display: flex;
   height: 45px;
   font-size: small;
   margin-top: 25px;
}

.search_icon
{
    display: none;
}

.bouton_rechercher
{
    color: white;
    background:#0065FC;
    border: 10px #0065FC solid;
    border-radius: 0px 10px 10px 0px;
}

.filtres, p, .cash, .child, .heart, .dog
{
    display: flex;
    align-items: center;
    margin: -2px;
    padding-right: 5px;
    justify-content:left;
    margin-right: 15px;
}

.filtres p
{
    font-weight: bold;
    margin-right: 8px;
    margin-top: -5px;
}

.filtres .fa-money-bill, .fa-child, .fa-heart, .fa-dog
{
    color:#0065FC;
    background-color: #DEEBFF; 
    border: 8px #DEEBFF solid;
    border-radius: 50%; 
}

.cash, .child, .heart, .dog
{
    border: 2px #F2F2F2 solid;
    border-radius:30px;
    width: auto;
}

.money, .famille, .romantique, .animaux
{
    background-color: white;
    border: 2px white solid;
    font-weight: bold;
}

.filtres :hover
{
    text-decoration: underline;
    color: #0065FC;
}

.info
{
    display: flex;
    flex-direction: row;
}

.info p
{
    margin-top: 17px;
}
.fa-info
{
    color:#0065FC;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 0;
    font-size: 0.7em;
}

.fa-circle
{
    color: #F2F2F2;
    font-size: 1.5em;
}

#hebergements
{
    background-color: #F2F2F2;
    border-radius: 30px ;
    width: 100%;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: top;
}

#logements
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px 300px;
    margin-right: 10px;
    margin-left: 10px;
    column-gap: 25px;
    width: auto;
}
#Cannebiere
{
    grid-column: 1;
    grid-row: 1;
}

#Port
{
    grid-column: 2;
    grid-row: 1;
}

#Mouette
{
    grid-column: 3;
    grid-row: 1;
}



#hebergements h2
{
    font-size: small;
    padding-left: 10px;
    padding-bottom: 15px;
}


#afficher
{
    font-size: x-small;
    text-decoration: none;
    color : black;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.vignetteH
{
    background-color: white;
    border: 2px white solid;
    border-radius: 10px 10px 20px 20px;
    font-size: small;
    text-decoration: none;
    width: 100%;
    margin-left: 10px;
    height: 300px;
}

#cannebiere, #port, #mouettes, #mer, #panier, #amina
{
    height: 300px;
}

#cannebiere_text, #port_text, #mouettes_text, #mer_text, #panier_text
{
    height: 300px;
}
.vignetteH img
{
    border-radius: 10px 10px 0px 0px;
    height: 144px;
    object-fit:cover;
    width: 100%;
}

.vignetteH h3
{
    font-size: smaller;
    text-decoration: none ;
    color:black;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 10px ;
    margin-top: 10px;
}

.vignetteH p
{
    font-size: smaller;
    text-decoration: none;
    color: black;
    padding-left: 5px;
    margin-bottom: 10px;
}

#stars , #starsP, #starsM, #starsMer, #starspanier
{
    font-size: smaller;
    text-decoration: none;
    color: #0065FC;
    padding-left: 5px;
    display: flex;
}

.stars_blank
{
    color: #F2F2F2;
}

#starsA
{
    font-size: smaller;
    text-decoration: none;
    color: #0065FC;
}

section
{
    display: flex;
}

#populaires
{
    background-color: #F2F2F2;
    border-radius: 30px ;
    width: 80%;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 15px;
    margin-left: 50px;
    padding-bottom: 15px;
    padding-right: 17px;
}

#populaires h3
{
    font-size: small;
    padding-left: 10px;
}

.vignetteP
{
    width: 95%;
    height: 200px;
}

#eau, #soleil, #blanc
{
    background-color: white;
    border: 4px white solid;
    border-radius: 10px 10px 20px 19px;
    width: 100%;
    font-size: small;
    text-decoration: none;
    margin-inline-start: 20px;
}

#eau img, #soleil img, #blanc img
{
    border-radius: 10px 0px 0px 10px;
    height: 170px; 
    object-fit: cover;
    margin-right: 15px;
    width: 40%;
}

#text_eau, #text_soleil, #text_blanc
{
    font-size: smaller;
    text-decoration: none ;
    color:black;
    display: flex;
    align-content: space-around;
    width: 100%;
}

#text_eau h3, #text_soleil h3, #text_blanc h3
{
    margin-bottom: 4px;
    padding-left: 0;
    margin-top: 4px;
}

#starsE, #starsS, #starsB
{
    color: #0065FC;
    padding-top: 40px;
}

#starsS, #starsB
{
    padding-top: 65px;
}

.stars_blank_b
{
    color: #F2F2F2;
}

article h2
{
    font-size: small;
}

#Activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 20px;
}

#Activites h3
{
    font-size: x-small;
    padding-left: 20px;
}

#Vieux_port
{
    background-color: white;
    box-shadow: 6px 6px 10px #F2F2F2;
    border-bottom: 4px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: small;
    width: 30%;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 0px;
}

#Vieux, #Calanques
{
    height: 450px;
}

#Vieux_port img, #calanques img
{
    border-radius: 10px 10px 0px 0px;
    height: 450px; 
    object-fit: cover;
    margin-right: 10px;
}

#Fort
{
    background-color: white;
    box-shadow: 6px 6px 10px #F2F2F2;
    border-bottom: 4px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: small;
    height: 250px;
    text-decoration: none;
    margin-right: 10px;
}

#Fort img
{
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
}

#Iles
{
    background-color: white;
    box-shadow: 6px 6px 10px #F2F2F2;
    border-bottom: 4px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: small;
    height: 220px;
    text-decoration: none;
    margin-right: 10px;
}

#Iles img
{
    border-radius: 10px 10px 0px 0px;
    height: 170px;
    object-fit: cover;
    margin-right: 10px;
}

#Frioul
{
    height: 220px;
}

#fort_iles
{
    display: flex;
    flex-direction: column;
    width: 20%;
}


#calanques
{
    background-color: white;
    box-shadow: 6px 6px 10px #F2F2F2;
    border-bottom: 4px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 30%;
    font-size: small;
    text-decoration: none;
    margin-right: 10px;
}



#garde_longchamp
{
    display: flex;
    flex-direction: column;
    width:20% ;
}

#Garde
{
    background-color: white;
    box-shadow: 6px 6px 10px #F2F2F2;
    border-bottom: 4px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: small;
    text-decoration: none;
    margin-right: 0px;
    padding-left: 0px;
    height: 230px;
}

#Garde img
{
    border-radius: 10px 10px 0px 0px;
    height:180px; 
    object-fit: cover;
    margin-right: 0px;
}

#Longchamp
{
    background-color: white;
    box-shadow: 6px 6px 10px #F2F2F2;
    border-bottom: 4px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: small;
    height: 240px;
    text-decoration: none;
    margin-right: 0px;
}

#Longchamp img
{
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 190px;
    margin-right: 0px;
}

footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between ;
}

footer ul
{
    list-style: none;
    font-size: x-small;
    padding-right: 200px
}


@media screen and (min-width: 1440px)
{
    body
    {
        width: auto;
    }

    .search_icon
    {
    display: none;
    }

    #hebergements
    {
        width: 100%;
    }

    #populaires
    {
        width: auto;
    }

    .vignetteH
    {
        width: 100%;
        margin-left: 12px;
        height: 250px;
        margin-bottom: 35px;
    }

    #cannebiere, #port, #mouettes, #mer, #panier, #amina
    {
        margin:5px;
    }

    #Activites
    {
        width: auto;
    }

    #Vieux_port, #calanques
    {
        width: 17em;
    }

    #Vieux_port img, #calanques img
    {
        width: 100%;
    }

    #fort_iles, #garde_longchamp
    {
        width: 12em;
    }

    #Garde img
    {
        object-fit: cover;
        width: 100%;
    }

    #fort_iles img, #garde_lonchamp img
    {
        width: 100%;
    }
}

@media screen and (max-width: 1440px)
{
    body
    {
        width: auto;
    }

    .search_icon
    {
    display: none;
    }

    #hebergements
    {
        width:130%;
    }

    #logements
    {
        width: 100%;
    }

    #populaires
    {
        margin-left: 10px;
    }

    #eau img, #soleil img, #blanc img
    {
        object-fit: cover;
        width: 40%;
    }

    #text_soleil, #text_eau, #text_blanc
    {
        height: 170px;
    }

    #eau, #soleil, #blanc
    {
        width: 100%;
        height: 170px;
    }

    #starsE, #starsB
    {
        padding-top: 40px;
    }

    .vignetteH
    {
        height: 280px;
        width: 100%;
    }

    #cannebiere, #port, #mouettes, #mer, #panier, #amina
    {
        height: 280px;
        margin: 2px;
    }

    #cannebiere_text, #port_text, #mouettes_text, #mer_text, #panier_text
    {
        height: 280px;
    }
    .vignetteH img
    {
        height: 144px;
        object-fit:cover;
        width: 100%;
    }

    #Activites
    {
        width: auto;
    }


    #Vieux_port, #calanques
    {
        width:17em;
        height: 520px;
    }

    #Vieux_port img, #calanques img
    {
        width: 100%;
        object-fit: cover;
        height: 450px;
    }

    #fort_iles, #garde_longchamp
    {
        width: 20%;
    }

    #fort_iles img, #garde_lonchamp img
    {
        width:100%;
        object-fit: cover;
    }

    #Garde img
    {
        height: 160px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1200px)
{
    body
    {
        width: auto;
    }

    .search_icon
    {
    display: none;
    }

    #hebergements
    {
        width: auto;
    }

    section 
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #populaires
    {
        width: auto;
        margin-left: 0px;
        margin-right: 5px;
    }

    #pop
    {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
    }

    .vignetteP
    {
        width: 85%;
    }
    
    #eau img, #soleil img, #blanc img
    {
        width: 30%;
    }

    #Activites
    {
        width: auto;

    }

    #Vieux_port, #calanques
    {
        width: 12em;
        height: 480px;
    }

    #Vieux_port img, #calanques img
    {
        width: 100%;
        height: 400px;
    }

    #fort_iles, #garde_longchamp
    {
        width: 19%;
    }

    #fort_iles img
    {
        width:100%;
        height: 140px;
    }

    #Iles, #Fort
    {
        height: 215px ;
    }

    #Garde img
    {
        width:100%;
        height: 120px;
    }

    #Longchamp img
    {
        width: 100%;
        height: 135px;
    }

    #Garde, #Longchamp
    {
        height: 215px;
    }

    footer ul
    {
        padding-right: 10px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px)
{
    body
    {
        width: auto;
    }

    .search_icon
    {
    display: none;
    }

    #hebergements
    {
        width: auto;
    }

    #logements
    {
        margin-left: 0px;
    }

    section 
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #populaires
    {
        width: auto;
        margin-left: 0px;
        margin-right: 5px;
    }

    #pop
    {
        display: flex;
        flex-wrap: wrap;
        width: 89%;
    }

    #blanc img, #eau img, #soleil img
    {
        width: 30%;
        object-fit: cover;
    }

    #starsS
    {
      padding-top: 40px;  
    }

    .starsPop
    {
        margin-top: 30px;
    }


    #cannebiere, #port, #mouettes, #mer, #panier, #amina
    {
        width: 100%;
    
    }

    #cannebiere img, #port img, #mouettes img, #mer img, #panier img, #amina img
    {
        width: 98%;
    }


    #Activites
    {
        width: auto;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 300px 300px;
    }

    .vignetteA
    {
        width: 100%;
    }


    #Vieux
    {
        grid-column: 1;
        grid-row: 1;
        height: 250px;
        margin-left: 1%;
    }

    #calanques
    {
        margin-left: 1%;
    }

    #Fort, #Iles
    {
        margin-left: 40%;
    }

    #Vieux_port, #calanques, #Fort, #Iles, #Garde, #Longchamp
    {
        width: 10em;
        height: 250px;
    }

    #Vieux_port img, #calanques img, #Fort img, #Garde img, #Iles img, #Longchamp img
    {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    #Pomegues
    {
        grid-column: 2;
        grid-row: 1;
    }

    #frioul
    {
        grid-column: 3;
        grid-row: 1;
    }

    #Calanques
    {
        grid-column: 1;
        grid-row: 2;
    }

    #Dame
    {
        grid-column: 2;
        grid-row: 2;
    }

    #longchamp
    {
        grid-column: 3;
        grid-row: 2;
    }

    footer ul
    {
        padding-right: 10px;
    }
}

@media all and (min-width: 320px) and (max-width:720px)
{
    body
    {
        width: auto;
    }

    h2, h3
    {
        font-weight: bolder;
    }

    header
    {
        display: inline-block;
        width: 100%;
        font-size: larger;
        align-items: flex-start;
        background: none;
    }

    .Reservia_logo
    {
        font-size: larger;
        height: 150px;
        width: 96%;
        border-width: 10px;
    }
    header ul
    {   
        width: 100%;
        color: #0065FC;
        font-weight: bold;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        padding-left: 0px;
        border: none;
        background: none;
    }

    header li 
    {
        font-size: medium;
    }

    header a
    {
        padding-top: 70px;
        width: 30%;
        padding-left: 80px;
    }

    .inscription
    {
        position: fixed;
        top: 10px;
        right: 2px;
    }

    .inscription a
    {
        padding-top: 5px;
    }

    .menuH
    {
        border-bottom: 6px #F2F2F2 solid;
        position:fixed;
        top: 20px;
        left: 50px;
        width: 45%;
    }

    .menuA
    {
        border-bottom: 6px #F2F2F2 solid;
        position: fixed;
        top: 20px;
        right:0px;
        width:45%;
    }


    header a :hover
    {
        border-bottom: 6px #0065FC solid;
        color: #0065FC;
    }

    nav
    {
        margin-top: 150px;
    }

    nav h2
    {
        font-size: medium;
        margin-left: 10px;
    }

    nav p
    {
        margin-top: 10px;
        margin-left: 15px;
        font-size: medium;
    }

    .fa-map-marker-alt
    {
        background: #F2F2F2;
        font-size: 1.7em;
        padding-top: 16px;
        padding-left: 20px;
        border: 10px #F2F2F2 solid;
        border-radius: 30px 0px 0px 30px;
        width: 5%;
        height: 65px;
    }

    .rechercher
    {
    display: flex;
    height: 100px;
    font-size: small;
    margin-top: 45px;
    width: 100%;
    font-size: medium;
    margin-left: 5px;
    }

    .champs_recherche
    {
        width: 57%;
        font-size: medium;
        height: 100px;
        border: 2px #F2F2F2 solid;
    }
    .bouton_rechercher
    {
        display:none;
    }

    .search_icon
    {
        color: white;
        background:#0065FC;
        border: 10px #0065FC solid;
        border-radius: 16px 16px 16px 16px;
        width: 10%;
        height: 100px;
        font-size: medium; 
        display: block;
    }

    .filtres
    {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 100px 100px;
    }

    .filtres p
    {
        font-size:medium;
        width: 100%;
        margin-left: 15px;
    }

    .cash
    {
        grid-column: 1;
        grid-row: 2;
    }

    .child
    {
        grid-column: 2;
        grid-row: 2;
    }

    .heart
    {
        grid-column: 1;
        grid-row: 3;
    }

    .dog
    {
        grid-column: 1;
        grid-row: 4;
    }

    .cash, .child, .heart, .dog
    {
        font-size: small;
        width: 90%;
        margin-top: 15px;
        margin-left: 22px;
    }

    .child
    {
        width: 74%;
    }

    .money, .famille, .romantique, .animaux
    {
        font-size: small;
        width: auto;
    }
    
    .info
    {
        font-size: medium;
        width: 100%;
    }

    #hebergements
    {
        width: auto;
        background-color: white;
    }

    section 
    {
        display: flex;
        flex-direction: column-reverse;
    }

    #populaires
    {
        width: auto;
        margin-left: 0px;
        margin-right: 5px;
    }

    #pop
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #populaires h3
    {
        font-size: larger;
    }

    #populaires h3 i
    {
        padding-left: 60%;
    }

    .vignetteP
    {
        width: 100%;
        height: 300px;
        max-height: 100%;
    }

    #soleil, #eau, #blanc
    {
        width: 95%;
        height: 250px;
    }

    #soleil img, #eau img
    {
        height: 250px;
        object-fit: cover;
        width: 35%;
    }

    #blanc img
    {
        height: 250px;
        width: 46%;
        object-fit: cover;
    }

    #starsB, #starsS
    {
        padding-top:40px;
    }

    #text_water, #text_sun, #text_white
    {
        font-size: large;
        padding-left: 20px;
        height: auto;
        width: 80%;
    }

    #logements
    {
        display: flex;
        flex-direction: column;
    }

    #hebergements h2
    {
        font-size: larger;
    }

    .vignetteH
    {
        border-radius: 20px 20px 20px 20px;
        height: 410px;
        width: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ombre
    {
        box-shadow: 0px 0px 20px #F2F2F2;
    }

    #cannebiere, #port, #mouettes, #mer, #panier, #amina
    {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        font-size: large;
        border: 5px solid white;
        height: 400px;
    }

    #cannebiere img, #port img, #mouettes img, #mer img, #panier img, #amina img
    {
        object-fit: cover ;
        height: 250px;
    }

    #cannebiere_text, #port_text, #mouettes_text, #mer_text, #panier_text
    {
        font-size: larger;
        height: 400px;
    }

    #amina_text
    {
        font-size: larger;
        padding-left: 5px;
    }

    #prixC, #prixP, #prixM, #prixMer, #prixPanier
    {
        font-size: large;
    }

    #prixA
    {
        font-size: large;
        padding-left: 5px;
    }

    #stars, #starsP, #starsM, #starsMer, #starspanier
    {
        font-size: large;
        margin-top: 5px;
    }

    #starsA
    {
        font-size: large;
        padding-left: 5px;
        margin-top: 5px;
    }

    #afficher
    {
        font-size: large;
        padding-left: 15px;
        margin-top: 30px;
    }

    article h2
    {
        font-size: larger;
        margin-left: 15px;
    }

    #Activites
    {
        width: auto;
        font-size: larger;
        display: flex;
        flex-direction: column;
    }

    #Activites h3
    {
        font-size: larger;
    }

    .vignetteA
    {
        border-radius: 20px 20px 20px 20px;
        height: 350px;
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 17px;
    }

    #Vieux_port_text, #Fort_text, #Iles_text, #calanques_text, #garde_text, #longchamp_text
    {
        font-size: larger;
        height: 350px;
        width: 100%;
    }

    #Vieux, #Calanques, #Dame, #Garde
    {
        height: 350px;
    }

    #Vieux_port, #calanques
    {
        width: 100%;
        margin: 0;
        border-radius: 20px 20px 20px 20px;
        height: 350px;
    }

    #Vieux_port img, #calanques img
    {
        object-fit: cover;
        height: 250px;
    }

    #fort_iles, #garde_longchamp
    {
        width: 100%;
        margin: 0;
    }

    #Fort, #Iles, #Garde, #Longchamp
    {
        width: 100%;
        margin: 0;
    }

    #fort_iles img

    {
        object-fit: cover;
        height: 250px;
    }

    #Garde img
    {
        object-fit: cover;
        height: 250px;
        width: 100%;
    }

    #Longchamp img
    {
        object-fit: cover;
        height: 250px;
    }

    footer
    {
        display: flex;
        flex-direction: column;
        font-size: large;
        justify-content: center;
    }
    footer li
    {
        font-size: larger ;
    }
}
